.no-show {
    display: none;
}

.show {
    display: table;
   
}
#name{
    margin-top: 50px;
}
 *{
     box-sizing: border-box;
 }

 #search {
     padding: 10px;
     font-size: 17px;
     border: 1px solid grey;
     float: left;
     width: 80%;
     background: #f1f1f1;
 }

 .search{
     float: left;
     width: 20%;
     padding: 10px;
     background: #2196F3;
     color: white;
     font-size: 17px;
     border: 1px solid grey;
     border-left: none;
     cursor: pointer;
 }

 .search:hover {
     background: #0b7dda;
 }
#demo{
    display: none;
}

